:root {
    --name-color: #fff;
    --at-symbol-color: #fff;
    --location-color: #fff;
    --arrow-color: #fff;
}

.name-color {
    color: var(--name-color)
}

.at-symbol-color {
    color: var(--at-symbol-color)
}

.location-color {
    color: var(--location-color)
}

.arrow-color {
    color: var(--arrow-color)
}

.input-box {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    caret-color: white;
    background-color: transparent;
    outline: none;
}
.input-box:focus {
    outline: none !important;
}
